USE [master]
GO
/****** Object:  Database [leave_management_system]    Script Date: 2025-10-12 22.26.47 ******/
CREATE DATABASE [leave_management_system]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'leave_management_system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\leave_management_system.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'leave_management_system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\leave_management_system_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [leave_management_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [leave_management_system]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2025-10-12 22.26.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[manager_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[user_level] [int] NOT NULL,
	[employee_id] [nvarchar](50) NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[leave_types]    Script Date: 2025-10-12 22.26.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[leave_types](
	[leave_type_id] [int] IDENTITY(1,1) NOT NULL,
	[leave_type_name] [varchar](100) NOT NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[leave_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[leave_balances]    Script Date: 2025-10-12 22.26.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[leave_balances](
	[balance_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[leave_type_id] [int] NOT NULL,
	[total_days] [decimal](5, 1) NULL,
	[used_days] [decimal](5, 1) NULL,
	[available_days] [decimal](5, 1) NULL,
	[year] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[balance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[employee_leave_summary]    Script Date: 2025-10-12 22.26.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create Views for commonly used queries
CREATE VIEW [dbo].[employee_leave_summary] AS
SELECT 
    u.user_id,
    u.employee_id,
    CONCAT(u.first_name, ' ', u.last_name) as full_name,
    u.department,
    lt.type_name,
    lb.year,
    lb.allocated_days,
    lb.used_days,
    lb.remaining_days
FROM users u
JOIN leave_balances lb ON u.user_id = lb.user_id
JOIN leave_types lt ON lb.leave_type_id = lt.leave_type_id
WHERE u.status = 'active' AND lt.is_active = 1;
GO
/****** Object:  Table [dbo].[leave_applications]    Script Date: 2025-10-12 22.26.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[leave_applications](
	[application_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[leave_type_id] [int] NOT NULL,
	[leave_category] [varchar](20) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[half_day_period] [varchar](20) NULL,
	[short_leave_start_time] [time](7) NULL,
	[short_leave_end_time] [time](7) NULL,
	[total_days] [decimal](5, 1) NULL,
	[reason] [text] NULL,
	[status] [varchar](20) NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime] NULL,
	[rejection_reason] [text] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[pending_applications]    Script Date: 2025-10-12 22.26.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[pending_applications] AS
SELECT 
    la.application_id,
    la.user_id,
    CONCAT(u.first_name, ' ', u.last_name) as employee_name,
    u.employee_id,
    u.department,
    lt.type_name as leave_type,
    la.start_date,
    la.end_date,
    la.days_requested,
    la.reason,
    la.applied_date,
    CONCAT(m.first_name, ' ', m.last_name) as manager_name
FROM leave_applications la
JOIN users u ON la.user_id = u.user_id
JOIN leave_types lt ON la.leave_type_id = lt.leave_type_id
LEFT JOIN users m ON u.manager_id = m.user_id
WHERE la.status = 'pending';
GO
/****** Object:  Table [dbo].[departments]    Script Date: 2025-10-12 22.26.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [nvarchar](100) NOT NULL,
	[department_code] [nvarchar](20) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[department_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[department_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[leave_applications] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[leave_applications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[leave_balances] ADD  DEFAULT ((20.0)) FOR [total_days]
GO
ALTER TABLE [dbo].[leave_balances] ADD  DEFAULT ((0)) FOR [used_days]
GO
ALTER TABLE [dbo].[leave_balances] ADD  DEFAULT ((20.0)) FOR [available_days]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_UserRole]  DEFAULT ('Employee') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[leave_applications]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[leave_applications]  WITH CHECK ADD FOREIGN KEY([leave_type_id])
REFERENCES [dbo].[leave_types] ([leave_type_id])
GO
ALTER TABLE [dbo].[leave_applications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[leave_balances]  WITH CHECK ADD FOREIGN KEY([leave_type_id])
REFERENCES [dbo].[leave_types] ([leave_type_id])
GO
ALTER TABLE [dbo].[leave_balances]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_department] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_department]
GO
ALTER TABLE [dbo].[leave_applications]  WITH CHECK ADD CHECK  (([half_day_period]='Afternoon' OR [half_day_period]='Morning'))
GO
ALTER TABLE [dbo].[leave_applications]  WITH CHECK ADD CHECK  (([leave_category]='Short Leave' OR [leave_category]='Half Day' OR [leave_category]='Full Day'))
GO
ALTER TABLE [dbo].[leave_applications]  WITH CHECK ADD CHECK  (([status]='Rejected' OR [status]='Approved' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='Employee' OR [role]='Manager' OR [role]='HR'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_user_level] CHECK  (([user_level]=(3) OR [user_level]=(2) OR [user_level]=(1)))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_user_level]
GO
/****** Object:  StoredProcedure [dbo].[sp_initialize_annual_leave_balance]    Script Date: 2025-10-12 22.26.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- STEP 5: CREATE STORED PROCEDURES
-- ============================================================================

-- Procedure: Initialize Employee Leave Balance for New Year
CREATE PROCEDURE [dbo].[sp_initialize_annual_leave_balance]
    @p_user_id INT,
    @p_year INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Insert new leave balance records for the year
    INSERT INTO employee_leave_balances (user_id, leave_type_id, year, allocated_count)
    SELECT 
        @p_user_id,
        id,
        @p_year,
        annual_allocation
    FROM leave_types 
    WHERE is_active = 1
    AND NOT EXISTS (
        SELECT 1 FROM employee_leave_balances 
        WHERE user_id = @p_user_id 
        AND leave_type_id = leave_types.id 
        AND year = @p_year
    );
    
    -- Update existing records if they exist
    UPDATE elb 
    SET allocated_count = lt.annual_allocation,
        updated_at = GETDATE()
    FROM employee_leave_balances elb
    INNER JOIN leave_types lt ON elb.leave_type_id = lt.id
    WHERE elb.user_id = @p_user_id 
    AND elb.year = @p_year 
    AND lt.is_active = 1;
END;
GO
USE [master]
GO
